<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ini Halaman Login</h1>
    <div>
        <form action="/webLogin" method="post">
        <input type="text" name="email" placeholder="Isikan Email" required><br>
        <input type="text" name="password" placeholder="Isikan Password" required><br><br>
        <input type="Submit" value="Login">
        </form>
    </div>
</body>
</html>